@import './fonts/fonts.css';

:root {
  --color-very-dark-navy: #0B0D17;
  --color-light-blue: #D0D6F9;
  --color-white: #FFFFFF;
}

body {
  min-height: 100vh;
  color: var(--color-very-dark-navy);
  line-height: 1.6;
  font-family:
    'Bellefair-Regular'
    sans-serif;
  font-size: 15px;
}