@import './base.css';

#app {
  max-width: 688px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  z-index: -10;
}