@import './base.css';


body{
  width: 100vw;
  margin: 0;
}

#app {
  max-width: 688px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  margin-top: 8px;
  margin-bottom: 24px;
}

h3 {
  margin-top: 64px;
  margin-bottom: 0;
}

h4 {
  margin-top: 32px;
  margin-bottom: 0;
}

h5 {
  margin-top: 12px;
  margin-bottom: 0;
}

h6 {
  margin-top: 24px;
  margin-bottom: 0;
}

ol {
  list-style: none;
  padding-left: 0;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-grey);
  opacity: 0.5;
}

b {
  opacity: 50%;
  margin-right: 16px;
}

button {
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  z-index: -10;
}

@media (min-width: 1440px) {
  #app {
    max-width: 1100px;
    text-align: left;
  }
}